<div *ngFor="let item of items">
  <div [ngbCollapse]="isCollapsed">
    <ul>
      <li>
        <a (click)="nextCollapse = !nextCollapse" class="point">{{item.details}}</a>
        <!-- <div *ngIf="editMode" ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" ngbDropdownToggle>Options</button>
          <div ngbDropdownMenu>
            <button class="dropdown-item" (click)="onEdit(item.id)">Edit</button>
            <button class="dropdown-item" (click)="onAdd(item.id)">Add</button>
            <button class="dropdown-item" (click)="onDelete(item.id)">Delete</button>
            <button class="dropdown-item" (click)="onDeleteChildren(item.id)">
              Delete Children</button>
          </div>
        </div> -->
        <div>
          <app-to-do-item [isCollapsed]="nextCollapse" [editMode]="editMode" [items]="item.items" *ngIf="item.items">
          </app-to-do-item>
        </div>
      </li>
    </ul>
  </div>
</div>
