<div *ngIf="dataisAvailable">
  <div class="container item">
    <form [formGroup]="itemForm" (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div formArrayName="items">
        <div *ngFor="let item of itemForm.controls.items.controls; let i = index">
          <div [formGroupName]="i">
              <app-edit-detail [editMode]="editMode" [depth]="depth" [itemForm]="itemForm.controls.items.controls[i]">
              </app-edit-detail>
          </div>
        </div>
      </div>
      <button class="btn btn-success" type="submit">Save</button>
    </form>
  </div>
</div>
