<div [formGroup]="itemForm">
    <div class="item offset-md-{{depth}}">
      <div class="input-group">
        <input type="text" [ngStyle]="{'border-color': inputColor}" class="form-control" formControlName="details">
        <div class="btn-toolbar">
          <button class="btn btn-primary" type="button" (click)="onAddChild()">+</button>
          <button class="btn btn-danger" type="button" (click)="onDelete()">x</button>
          <button class="btn btn-danger" type="button" (click)="onDeleteChildren()">xv</button>
        </div>
      </div>
    </div>
  <div formArrayName="items">
    <div *ngFor="let item of itemForm.controls.items.controls; let i = index">
      <div [formGroupName]="i">
        <app-edit-detail [depth]="depth+1" [itemForm]="itemForm.controls.items.controls[i]">
        </app-edit-detail>
      </div>
    </div>
  </div>
</div>
