<div *ngFor="let note of notes">
  <div [ngbCollapse]="isCollapsed">
    <ul>
      <li>
        <a (click)="nextCollapse = !nextCollapse" class="point">{{note.details}}</a>
        <!-- <div *ngIf="editMode" ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" ngbDropdownToggle>Options</button>
          <div ngbDropdownMenu>
            <button class="dropdown-note" (click)="onEdit(note.id)">Edit</button>
            <button class="dropdown-note" (click)="onAdd(note.id)">Add</button>
            <button class="dropdown-note" (click)="onDelete(note.id)">Delete</button>
            <button class="dropdown-note" (click)="onDeleteChildren(note.id)">
              Delete Children</button>
          </div>
        </div> -->
        <div>
          <app-note [isCollapsed]="nextCollapse" [editMode]="editMode" [notes]="note.notes" *ngIf="note.notes">
          </app-note>
        </div>
      </li>
    </ul>
  </div>
</div>
