<br>
<span class="input-group-btn">
  <button type="button" class="btn btn-primary">New Item</button>
</span>
<div>
    <ngb-accordion [closeOthers]="true" activeIds="accordion-panel-1"
    (panelChange)="onPanelChange($event)">
      <ngb-panel *ngFor="let item of items;
      let i = index" title="{{item.details}}"
      id="{{i}}">
          <ng-template ngbPanelContent>
            <div class="float-right">
              <button class="btn btn-danger btn-space" (click)="onDelete()">Delete</button>
              <button class="btn btn-success" (click)="onEdit()">Edit</button>
            </div>
          </ng-template>
      </ngb-panel>
    </ngb-accordion>
</div>
