<div class="row">
  <div class="col-sm-6">
    <br>
    <span class="input-group-btn">
      <button type="button" class="btn btn-primary">New Item</button>
    </span>
    <div class="float-left">
      <ul class="list-group">
        <app-to-do-item-list *ngFor="let item of items;
        let i = index" [index]="i" [item]="item">
        </app-to-do-item-list>
      </ul>
    </div>
  </div>
  <div class="col-sm-6">
    <router-outlet></router-outlet>
    <!-- <app-add-item></app-add-item> -->
  </div>
</div>
