<ng-template [ngIf]="!signedIn" [ngIfElse]="loadApp">
<div class="container">
  <br>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 offset-md-2">
      <app-sign-in></app-sign-in>
    </div>
  </div>
</div>
</ng-template>
<ng-template #loadApp>
  <app-header></app-header>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <!-- <app-to-do-list (itemSelectedEvent)="selectedItem = $event"></app-to-do-list> -->
        <app-note-list>
        </app-note-list>
      </div>
      <div class="col-sm-8">
        <div class="row">
          <br>
          <div class="col-sm-1"></div>
          <div class="col-sm-11">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
